.btn {
    text-decoration: none;
}

.btn-white {
    font-size: $font-small;
    color: #fff;
    border: 2px solid #fff;
    border-width: 4px 2px;
    background: transparent;
    position: relative;
    padding: 14px 0 ;
    // letter-spacing: 0.04px;
    &:before {
        height: calc(100% + 5px);
        width: 3px;
        content: '';
        background: #fff;
        position: absolute;
        top: -4px;
        left: -4px;
    }
    &:after {
        height: calc(100% + 5px);
        width: 3px;
        content: '';
        background: #fff;
        position: absolute;
        bottom: -4px;
        right: -4px;
    }
}