.content-hader-section {
    text-align: center;
    background: #ffffff;
    h2 {
        color: $color-silver;
        margin-top: rem-calc(72);
    }
    p {
        margin-top: rem-calc(12);
        margin-bottom: rem-calc(64);
    }
    a {
        color: $color-powder;
    }
    position: relative;
    &:after {
        content: '';
        width: 90px;
        height: 4px;
        background: $color-grey-light;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        @include transform(translateX(-50%));
    }
    @media screen and (min-width: 64em) {
        h2 {
            margin-top: 0;
        }
        &:before {
            content: '';
            max-width: 100vw;
            width: 1200px;
            position: absolute;
            top: -80px;
            height: 80px;
            left: 50%;
            @include transform(translateX(-50%));
            display: block;
            background: #ffffff;
            z-index: 2;
    
        }
        
    }
    
    
}



.grey-bg {
    background: #ffffff;
    position: relative;
    &:before {
        content: '';
        width: 1405px;
        max-width: calc(100vw - 40px);
        position: absolute;
        top: 0;
        left: 50%;
        background: #f7f7f7;
        display: block;
        height: 100%;
        z-index: 0;
        @include transform(translateX(-50%));
        @media screen and (max-width: 39.9375em) {
            display: none;
        }
    }
}
.row {
    &.expanded {
        max-width: 1230px;
    }
}

.newsletter-section {
    text-align: center;
    // background-image: url(../img/newsletter-bg.svg);
    // background-position: top center;
    // background-size: cover;
    padding-bottom: 100px;
    // margin-bottom: rem-calc(50);
    position: relative;
    > .row {
        position: relative;
    }
    h2 {
        margin-top: rem-calc(62);
        color: #7F87AA;
    }
    p {
        margin-top: rem-calc(31);
    }
    .section-content {
        color: #fff;
    }
    .form-inputs {
        position: relative;
    }
    .response {
        position: absolute;
        width: 100%;
        p {
            color: #fff;
            width: 100%;
            background: #EC777A;
            font-size: 14px;
            line-height: 20px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 14px;
            margin: 10px 0 12px;
            
            font-weight: 600;
        }
    }
    .success {
        p {
            color: #fff;
            font-family: $font-serif;
            margin: 25px 0 0;
            font-size: 18px;
        }
    }

    .newsletter-animation {
        position: absolute;
        // width: calc(100% + 1.875rem);
        width: 100%;
        height: 100%;
        overflow: hidden;
        // left: -0.9375rem;
        left: 0;
        .newsbg {
            min-width: 100%;
        }
    }
}
.show-more-wrap {
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    @media screen and (max-width: 39.9375em) {
        padding-bottom: 0;
    }
}
.about-me-section {
    background-image: url(../img/about_image_elements/aboutbg.png);
    background-position: top center;
    background-size: cover;
    padding-bottom: rem-calc(200);
    h2 {
        margin-top: rem-calc(200);
        color: #fff;
    }
    p{
        margin-top: rem-calc(21);
    }
    .section-content {
        color: #fff;
        a {
            color: inherit;
        }
    }
    > .row {
        position: relative;
        z-index: 2;
    }
    .aboutanim {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width: 39.9375em) {
        margin-top: 0;
    }
    margin-top: -80px;
    position: relative;
    z-index: 1;
}

#mc_embed_signup {
    width: 555px;
    max-width: 100%;
    margin: auto;
    input {
        width: 100%;
        font-size: 18px;
        border-width: 0 0 2px 0;
        border-color: #fff;
        color: #fff;
        background: transparent;
        text-align: center;
        font-family: $font-serif;
        letter-spacing: 0.75px;
        line-height: 24px;
        padding-bottom: 5px;
        outline: none;
    }
    .btn {
        margin-top: 35px;
        width: 100%;
        cursor: pointer;
        &.error {
            margin-top: 50px;
        }
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/* Small only */
@media screen and (max-width: 39.9375em) {
    #mc_embed_signup {
        max-width: calc(100% - 40px);
    }
    .content-hader-section {
        text-align: left;
        h2 {
            font-size: 16px;
            margin-top: 30px;
        }
        p {
            font-size: 20px;
            margin-top: rem-calc(12);
            margin-bottom: rem-calc(64);
        }
        &:after {   
            left: 15px;
            @include transform(translateX(0%));
        }
    }
    .about-me-section {
        padding-bottom: 5px;
        h2 {
            margin-top: 50px;
        }
    }
    
    .newsletter-section {
        margin-bottom: 0px;
    }
}



/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}