// @media screen and (max-width: 39.9375em) {
//     .text-align-right {
//         @extend .align-left
//     }
// }



footer {
    margin-top: rem-calc(50);
    padding-bottom: rem-calc(30);
    .footer-top {
        margin-bottom: rem-calc(15);
        h2 {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 24px;
            margin: 0;
            
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0;
            // text-align-last: right;

            // @extend .align-right;
            // display: flex;
            
        }
    }

    .footer-bottom {
        
            p {
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 18px;
                span {
                    color: $color-silver;
                }
                a {
                    color: inherit;
                }
            }
    }
}

.social-link {
    margin-right: 7px;
    display: inline-block;
    &:last-child {
        margin-right: 0;
    }
    a {
        font-size: 24px;
        text-decoration: none;
        color: $color-blue-dark;
        @include transition(0.2s);
        &:hover {
            color: $color-powder;
        }
        i {
            display: block;
        }
    }
}


/* Small only */
@media screen and (max-width: 39.9375em) {
    footer{
        .footer-top {
            ul {
                margin-bottom: 20px;
            }
        }
    }
}