body {
    padding: 20px;
    background: #ffffff;
}
.container {
    max-width: 1180px;
    width: 100%;
}

header {
    position: relative;
    text-align: center;
    img {
        max-width: 100%;
    }
    .header-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
    h1 {
        font-family: $font-sans-serif;
        font-size: rem-calc(18);
        font-weight: 400;
        color: #fff;
        letter-spacing: 7px;
    }

    h2 {
        font-family: $font-serif;
        font-size: rem-calc(64);
        font-weight: 400;
        color: #fff;
    }
    .btn {
        width: 310px;
        display: inline-block;
    }
}