header {
    position: relative;
    text-align: center;
    max-width: 1405px;
    width: 100%;
    margin: auto;
    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }
    .header-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
    h1 {
        font-family: $font-sans-serif;
        font-size: rem-calc(18);
        font-weight: 400;
        color: #fff;
        letter-spacing: 7px;
    }

    h2 {
        font-family: $font-serif;
        font-size: rem-calc(64);
        line-height: rem-calc(75);
        font-weight: 400;
        color: #fff;
    }
    .btn {
        width: 310px;
        display: inline-block;
    }
    &:before {
        content: '';
        width: 37.7%;
        height: 100%;
        display: block;
        background: url(../img/guy1.svg) no-repeat center center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;

    }

    &:after {
        content: '';
        width: 29.5%;
        height: 100%;
        display: block;
        background: url(../img/guy2.svg) no-repeat center center;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 0;

    }
}