.podcast-item {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(50);
    position: relative;
    background: #ffffff;
    // @extend .grey-bg;
    &.podcast-extra-margin-top {
        padding-top: 100px;
    }
    &.podcast-extra-margin-bottom {
        padding-bottom: 100px;
    }
    h3 {
        margin-top: 10px;
    }
    .simple-link {
        margin-top: rem-calc(22);
    }
}

.caster {
    display: flex;
    .thumb-small {
        margin-right: rem-calc(17);
        margin-bottom: rem-calc(25);
    }
    
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .podcast-item {
        padding-top: 50px;
        padding-bottom: 50px;
        &.podcast-extra-margin-top {
            padding-top: 50px;
        }
        &.podcast-extra-margin-bottom {
            padding-bottom: 50px;
        }
    }
}